.title {
  text-align: center;
  color: purple ;
  border: 2px solid purple;
  border-radius: 40px;
  width: 30%;
  position:relative;
  left: 37%;
} 

body{
  background-color: black;
}

.heirarchytop {
  margin-top:50px;
  position:relative;
  left:35%;
  display: flex;
  flex-direction: row;
  gap:100px;
  color: purple;
}

.heirarchytop > div {
  width: auto;
  height: auto;
  color: purple;
}

